.card {
    min-width: 300px;
    min-height: 400px;
    max-width: 300px;
    max-height: 400px;
    margin: 20px;
    padding:10px;
    composes :card from '../../Global.css';
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    composes : text from '../../Global.css';
    justify-content: space-between;
    position: relative;
}



