@import url('https://fonts.googleapis.com/css2?family=Bungee+Outline&display=swap');

body {
    margin: 0px;
}
.main {
    height: 100vh;
    width: 100vw;
    font-family: 'Short Stack', cursive;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    composes: text from '../Global.css';
    background-color: rgb(43, 41, 41);
}

.oops {
    font-size: 150px;
    font-weight: 900;
}