@import url('https://fonts.googleapis.com/css2?family=Bungee+Outline&display=swap');

.author {
    display: flex;
    flex-direction: column;
}

.noteSection{
    display: flex;
    flex-direction: row;
}

.skills{
    width:750px;
    height: 400px;
    border-radius: 10px;
    position: relative;
    max-width: none !important;
    max-height: none !important;
}

.skillsHeader{
    position: relative;
    padding: 10px;
    top: -33px;
    left: 40%;
    border-radius: 5px;
    width: 100px;
    height: 20px;
    text-align: center;
    z-index: 1;
    composes: projectHeader from '../Global.css';
    color: #2a2a29;
}

.skillSection {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.skillSection > div {
    min-width: 0;
    width: 50%;
}

@media screen and (max-width : 1300px) {
    .skillSection > div {
        min-width: 0;
        width: 30%;
    }
}
@media  screen and (max-width: 900px) {
    .author {
        flex-direction: column;
        align-items: center;
    }
    .skillSection{
        flex-direction: column;
    }
    .skills {
        width:50px;
        height: 750px;       
    }
    .noteSection{
        flex-direction: column;
    }
    .skillSection div {
        min-width: 0;
        width: auto;
    }
    .skillsHeader{
        left: 30%;
    }
}

.iconContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around
}