.blog{
 color: #005f82;
 font-size: larger;
 line-height: 150%;
 font-family: system-ui,-apple-system,blinkmacsystemfont,"Segoe UI",helvetica,arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol" !important;
 
}

.blogSection{
    margin-left: 30vh;
    margin-right: 30vh;
}

.tag {
    color: #767676;
}

.infosection {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between
}
.info {
    display: flex;
    flex-direction: column;
}
.infosection >span {
    float: right;
}



.blog h1 {
    margin-block-end: 0em;
    line-height: 130%;
}

@media  screen and (max-width: 900px) {
    .blog h1 {
        text-align: inherit;
    }
    .blog{
        font-size: x-large;
    }
    .infosection{
        flex-direction: column;
        align-items: flex-start;
    }
    .blogSection{
        margin-left: 0vh;
        margin-right: 0vh;
    }
    .tag{
        margin-top: 5px;
        margin-bottom: 5px;
    }
}