.blog{
 color: #005f82;
 font-size: larger;
 line-height: 150%;
 font-family: -apple-system,system-ui,BlinkMacSystemFont,segoe ui,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
}

.shareSection{
    width: 80px;
    display: flex;
    justify-content: space-between;
}
.blogSection{
    margin-left: 30vh;
    margin-right: 30vh;
}

.tag {
    color: #767676;
}

.infosection {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between
}
.info {
    display: flex;
    flex-direction: column;
}
.infosection >span {
    float: right;
}



.blog h1 {
    line-height: 130%;
    font-family: Georgia,Times,Times New Roman,serif;
}

@media  screen and (max-width: 900px) {
    .blog h1 {
        text-align: inherit;
    }
    .blog{
        font-size: x-large;
    }
    .infosection{
        flex-direction: column;
        align-items: flex-start;
    }
    .blogSection{
        margin-left: 0vh;
        margin-right: 0vh;
    }
    .tag{
        margin-top: 5px;
        margin-bottom: 5px;
    }
}

@media  screen and (max-width: 1200px) {
    .blogSection{
        margin-left: 10vh; 
        margin-right: 10vh;
    }
}