.blog{
 color: #005f82;
 font-size: larger;
 line-height: 150%;
 line-height: 1.7;
 font-family: -apple-system,system-ui,BlinkMacSystemFont,segoe ui,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
}

.blog figcaption {
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
}


.blog img {
    border: 1px solid grey;
}

.blog h1, h2, h3{
    font-family: 'Comforter', cursive !important;
    text-decoration: underline;
}

.blog h2, h3{
    font-size: x-large;
}

.blog table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
.blog th {
    color: white;
    background-color: #005f82;
}
.blog  td, th {
border: 1px solid #dddddd;
text-align: left;
padding: 8px;
width: 50%;
}

.blog a:hover{
    cursor: pointer;
}
.shareSection{
    width: 100px;
    display: flex;
    justify-content: space-between;
}
.blogSection{
    margin-left: 30vh;
    margin-right: 30vh;
}

.tag {
    color: #767676;
}

.infosection {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between
}
.info {
    display: flex;
    flex-direction: column;
}
.infosection >span {
    float: right;
}



.blog h1 {
    line-height: 130%;
    font-family: Georgia,Times,Times New Roman,serif;
}

@media  screen and (max-width: 900px) {
    .blog h1 {
        text-align: inherit;
    }
    .blog{
        font-size: x-large;
    }
    .infosection{
        flex-direction: column;
        align-items: flex-start;
    }
    .blogSection{
        margin-left: 0vh;
        margin-right: 0vh;
    }
    .tag{
        margin-top: 5px;
        margin-bottom: 5px;
    }
}

@media  screen and (max-width: 1200px) {
    .blogSection{
        margin-left: 2vh; 
        margin-right: 2vh;
        padding-bottom: 50px;
    }
}